*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Outfit", sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    background-color: transparent;    
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 12%;
}
.logo img{
    max-width: 100%;
    width: 160px;
    height: auto;
    /* margin-top: 5px;
    margin-bottom: auto; */
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    color: #FFFBFB;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 22px;
    transition: all .42s;
}
.navbar a:hover{
    color: purple;
}
.navbar .active{
    color: orange;
}
.header-btn{
    display: flex;
    align-items: center;
}
.nav-btn i{
    font-size: 22px;
    margin-right: 5px;
}
.nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    color: #FFFF;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 12px 25px;
    border-radius: 30px;
    transition: all .42s;
}
.nav-btn:hover{
    background: purple;
}
#menu-icon{
    font-size: 40px;
    margin-left: 12px;
    z-index: 10001;
    cursor: pointer;
    color: #FFF;
    display: none;
}

/* section-css */
section{
    padding: 120px 12% 60px;
}

/* home-section-css */
.home{
    position: relative;
    width: 100;
    height: 100vh;
    background-color: #051D40;
    /* background-color: #F7DC6F; */
    /* background-image: url(assets/images/banner.jpg); */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.home-img img{
    background-color: transparent;
    max-width: 100%;
    width: 450px;
    height: auto;
}
.home-text h4{
    color: #FFFBFB;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.home-text h1{
    color: #FFFBFB;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 12px 0px;
}
.home-text h3{
    color: #0097A7;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.home-text h3 span{
    color: #56AEFF;
}
.home-text{
    max-width: 600px;
    color: #FFFBFB;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.home-icon i{
    color: green;
    font-size: 22px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #56AEFF;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 40px;
    transition: all .42s;
}
.home-icon i:hover{
    background-color: #000;
    color: #FFFF;
}
.home-btn{
    display: flex;
    align-items: center;
}
.home-btn i{
    font-size: 30px;
    margin-left: 2px;
    transition: all .42s;
}
.hm-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFBFB;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
    background-color: #56AEFF;
    padding: 8px 25px;
    border-radius: 50px;
    transition: all .42s;
}
.hm-btn:hover{
    background-color: #212121;
}
.hm-btn i:hover{
    transform: rotate(0deg);
}
.infinite{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0px;
    background: linear-gradient(45deg, white(0, 151, 167, 1) 0%, white(0, 175, 193, 1) 100%);
}
.infinite:hover .infi-logo {
    animation-play-state: paused;
}
.infi-logo img{
    height: 50px;
    margin: 0px 30px;
    cursor: pointer;
} 
.infi-logo{
    display: inline-block;
    white-space: nowrap;
    animation: 30s slide infinite linear;
}

@keyframes slide {
    from{
        transform: translate(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* header sticky css */
header.sticky{
    background-color: #CFF4FF;
    padding: 14px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition: all .42s;
}

/* About-section css */
.about{
    background-color: #145DA0;
}
.main-about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.about-img img{
    max-width: 100%;
    width: 430px;
    height: auto;
}
.about-text h5{
    color: #FFFFFF;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 15px;
}
.about-text h2{
    color: #FFFFFF;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.4;
}
.about-text h2 span{
    color: orange;
}
.about-text p{
    max-width: 540px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0px;
}
.about-li{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.about-li h6{
    color: #56AEFF;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.about-li h6 i{
    color: orange;
    font-size: 20px;
    margin-right: 10px;
}
/* Expert Areas css */
.areas{
    background-color: #FFFFFF;
}
.areas-top h1{
    color: #051D40;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.areas-top p{
    max-width: 700px;
    color: #56AEFF ;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 0px auto 80px;
}
.skill-detls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}
.box-img img{
    width: 100px;
    height: auto;
    height: auto;
    cursor: pointer;
    transition: all .42s;
}
.box-img:hover img{
    -webkit-filter: grayscale(100%);;
    filter: grayscale(100%);
}
.box-img{
    filter: none;
    text-align: center;
    padding: 30px 50px;
    background: #051D40;
    border-radius: 15px;
    box-shadow: rgba(48, 49, 49, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: all .42s ease;
}
.box h4{
    color: #0097A7;
    font-size: 25px;
    font-weight: 600;
    margin: 12px 0px 0px 0px;
}
.box h3{
    text-align: center;
    color: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* Recent project section css */
.recent-project{
    background-color: #4BD1FB;
}
.project-top{
    text-align: center;    
}
.project-top h5{
    color: #051D40;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.project-top h2{
    color: #FFFBFB;
    font-size: 40px;
    text-transform: capitalize;
    font-size: 700;
    margin-bottom: 40px;
}
.project-top h2 span {
    color: orange;
}
.project-list{
    margin-bottom: 80px;
}
.project-list a{
    color: #051D40;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    margin-right: 20px;
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all .42s;
}
.project-list .active{
    border: #051D40;
    padding: 5px 15px;
    border-radius: 10px;
}
.project-list a:hover{
    border: 1px;
    background-color: orange;
}
.main-project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}
.project{
    overflow: hidden;
}
.project img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: all .42s;
}
.project:hover img{
    transform: scale(1.1);
}

/* Client review section css */
.client-say{
    background-color: #FFFBFB;
}
.client-top h5{
    color: #56AEFF;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.client-top h2{
    color: #145DA0;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}
.client-top h2 span{
    color: orange;
}
.client-detls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 4rem;
}
.test-card{
    position: relative;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #56AEFF;
    cursor: pointer;
    box-shadow: rgba(5, 29, 0, 1) 0px 8px 24px;
    transition: all .42s;
}
.test-card:hover{
    box-shadow: rgba(5, 29, 0, 1) 0px 3px 8px;
}
.test-top{
    display: flex;
    justify-content: space-between;
}
.test-logo{
    width: 100%;
    height: auto;
}
.test-img img{
    width: 100px;
    height: auto;
    border-radius: 10px;
    border-bottom-left-radius: 90px;
}
.test-btm i{
    font-size: 40px;
    color: 2px solid orange;
    margin-bottom: 20px;
    transition: all .42s;
}
.test-btm i:hover{
    transform: translateX(5px);
}
.test-btm p{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}
.test-btm h4{
    color: #FFF;
    font-size: 20px;
    text-transform: capitalize;    
    font-weight: 700;
    margin-bottom: 5px;
}
.test-btm h6{
    color: orange;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}

/* Contact section css */
.contact{
    background-color: #051D40;
}
.cont-top h2{
    color: #FFF;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.cont-top h2 span{
    color: orange;
}
.cont-top p{
    color: #FFFBFB;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.main-cont{
    text-align: center;
}
.cont-input input{
    width: 50%;
    padding: 20px;
    margin: 10px 10px;
}
form .cont-input input{
    width: 30%;    
}
.cont-input input{
    background-color: #FFFBFB;
    font-size: 16px;
    text-transform: inherit;
    border-radius: 10px;
    border: none;
    caret-color: #FFFBFB;
    border-color: 2px solid green;
    outline: none;
}
input:focus,
input:valid{
    color: #051D40;
}
form textarea{
    max-width: 100%;
    width: 62%;
    height: 40vh;
    padding: 20px 20px;
    font-size: 16px;
    resize: none;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    background-color: #FFFBFB;
    caret-color: brown;
    margin-top: 40px;
}
textarea:focus,
textarea:valid{
    color: #051D40;
}
.sub{
    color: blue;
    font-size: 20px;
    padding: 12px 50px;
    background-color: orange;
    border: 2px solid #FFFBFB;
    border-radius: 30px;
    letter-spacing: 0.5px;
    margin-top: 40px;
    cursor: pointer;
    transition: all .42s;
}
.sub:hover{
    background-color: transparent;
    color: #56AEFF;
}

/* footer design css */
.footer{
    background-color: #FFFBFB;
}
.main-footer{
    text-align: center;
    padding: 40px 0px;
}
.main-footer img{
    max-width: 100%;
    width: 140px;
    height: auto;
    margin-bottom: 20px;
}
.footer-li a{
    color: #56AEFF;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0px 20px;
    transition: all .42s;
}
.footer-li a:hover{
    color: orange;
}
.main-footer p{
    color: #051D40;
    font-size: 17px;
    margin-top: 30px;
}

/* Responsive code css. */
@media(max-width:1420px){
    header{
        padding: 25px 5%;
        transition: .5s;
    }
    section{
        padding: 120px 5% 60px;
        transition: .5s;
    }
    header.sticky{
        padding: 14px 5%;
        transition: .5s;
    }
    .home-img img{
        width: 420px;
        height: auto;
        transition: .5s;
    }
}
@media(max-width:1180px){
    .home-text h1{
        font-size: 55px;
        line-height: 1.2;
        transition: .4s;        
    }
    .home-text h4{
        font-size: 25px;
        transition: .4s;
    }
    .home-icon i{
        margin-bottom: 30px;
        transition: .4s;
    }
    .home-img img{
        width: 420px;
        height: auto;
        transition: .5s;
    }    
}
@media(max-width:1080px){
    .home-text h1{
        font-size: 45px;
        line-height: 1.2;
        transition: .4s;        
    }
    .home-text h3{
        font-size: 25px;
        margin-bottom: 15px;
        transition: .4s;
    }
    .home-text p{
        margin-bottom: 30px;
        transition: .4s;
    }
    .home-icon i{
        margin-bottom: 30px;
        transition: .4s;
    }
    .home-img img{
        width: 380px;
        height: auto;
        transition: .5s;
    }
}
@media(max-width:1000px){
    .home{
        display: block;
        flex-wrap: wrap;
        height: 100%;
    }
    .home-text{
        margin-bottom: 480px;
        padding-top: 30px;
    }
    .home-img{
        text-align: center;
    }
}
@media(max-width:550px){
    .home-text h1{
        font-size: 40px;
        line-height: 1.2;
        transition: .4s;        
    }
    .home-text h3{
        font-size: 22px;
        margin-bottom: 15px;
        transition: .4s;
    }
    .about-text h2{
        font-size: 29px;
        transition: .3s;
    }
    .project-top h2{
        font-size: 29px;
        line-height: 1.2;
    }
    .project-list a{
        padding: 0px 0px;
    }
    .client-top h2{
        font-size: 35px;
        line-height: 1.2;
        transition: .4s;
    }
    .cont-top h2{
        font-size: 35px;
        line-height: 1.2;
        transition: .4s;
    }
    .footer-li a{
        padding: 0px 5px;
    }    
}
@media(max-width:1100px){
    .main-about{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
}
@media(max-width:950px){
    form .cont-input input{
        width: 62%;
        transition: .5s;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        backdrop-filter: blur(40px);
        transition: all .42s;
    }
    .navbar a{
        display: block;
        font-size: 25px;
        margin: 5px;
    }
    .navbar.open{
        top: 100%;
    }
}
@media(max-width:700px){
    form .cont-input input{
        width: 100%;
        transition: .5s;
    }
    form textarea{
        width: 100%;
    }
    .cont-input input{
        margin: 10px 0px;
    }
}
@media(max-width:450px){
    .logo img{
        width: 120px;
        height: auto;
    }
    .nav-btn{
        padding: 12px 20px;
    }
}